<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="about-style.css" />
    <title>About me 🤡</title>
    <link rel="icon" type="image/x-icon" href="./imgs/favicon-title.png">
</head>

<body>
    <section class="first-page">

        <!-- Navigation -->

        <div id="navigation">
            <div class="face-icon">
                <a href="index.html"><img src="./imgs/favicon-title.png" alt="my face" class="myFaceIcon"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html" class="first-li">Home</a></li>
                    <li>
                        <a href="about.html" class="first-li">About</a>
                    </li>
                    <li>
                        <a href="portfolio.html" class="first-li">Projects</a>
                    </li>
                    <!-- <li>
                        <a href="#" class="first-li"><del>Experience</del></a>
                    </li> -->
                    <li>
                        <a href="project.html" class="first-contact-btn">Etch a Sketch!</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Content -->
        <div class="landing-section">
            <!-- img / illustration -->
            <div class="main-content">
                <div class="main-section-img">
                    <img src="./imgs/contact-illustration.png" alt="Illustration" class="first-img" />
                </div>
            </div>

            <!-- main content -->
            <div class="landing-section-txt">
                <div class="heading">
                    <header><span></span>Who am I?</span></header>
                    <p>Your part time friendly neighborhood <span>student</span> and full time <span>single</span>. I am a passionate individual on a journey to mastering the art of full stack development. Join me on this exciting adventure of learning and growth as I navigate the world of programming languages, frameworks, and databases.</p>
                </div>

                <div class="sub-button">
                    <a href="#" class="second-contact-btn">Contact me!</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>