<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="project-style.css">
    <script src="project-script.js" defer></script>
    <title>Etch a Sketch</title>
</head>

<body>
    <h1>Etch a Sketch!</h1>

    <div class="inputContainer">
        <label for="gridnum">Number of Grids: </label>
        <input type="number" name="gridnum" id="gridnum" min="1" max="100" value="16" required>
    </div>

    <div class="main">

    </div>
</body>

</html>