body {
    background-color: #222f3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 0;
    padding: 0;
    color: #9606cf;
}

.main {
    background-color: white;
    padding: 0;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 0.2px solid black;
}

h1 {
    font-size: 80px;
    line-height: 80px;
    text-shadow: 2px 0 5px #3a057048;
}

#gridnum {
    width: 5em;
}